body {
    background-color: rgba(0, 0, 0, 0.483);
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Poppins", "sans-serif";
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 1em;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 55%;
}

.logo-icon {
    width: 4rem;
    height: 4rem;
}

.logo-text {
    font-weight: 300;
    font-size: 2.5em;
    padding: 10px;
    margin-bottom: 30px;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(12em, 100%, 32em);
}

.search-bar {
    border: none;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.115);
    color: white;
    padding: 1em;
    height: 2rem;
    width: 100%;
}

.search-bar::placeholder {
    opacity: 0.3;
    font-style: italic;
}

.search-bar:focus {
    outline: none;
}

.content {
    border-radius: 20px;
    margin: 1em;
    padding: 20px 30px 20px 30px;
    max-width: 60em;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    background: rgba(6, 49, 66, 0.263);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.content > * {
    margin: 2em 0;
}

.main-widget {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.7em;
}

.loc-date {
    font-size: 1.5rem;
    text-align: left;
    padding: 1em 0;
    max-width: 20rem;
}

.location-text {
    font-weight: 400;
    font-size: 2.1rem;
    white-space: nowrap;
    width: inherit;
    height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date-text,
.dow-text {
    line-height: 0.5;
    font-weight: 200;
    opacity: 0.8;
}

.general-cond {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15em;
    overflow: scroll;
    scrollbar-width: none;
}

.current-cond-icon {
    width: 15rem;
    height: 15rem;
}

.current-info * {
    margin: 2px;
}

.current-info {
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    line-height: 1.2;
}

.current-temp {
    display: flex;
    align-items: center;
}

.current-temp-value {
    font-size: 3em;
}

.current-cond-desc {
    font-size: 28px;
}

.current-feelslike {
    font-size: 16px;
    font-weight: 200;
    font-style: italic;
}

.metric-toggle,
.imperial-toggle,
.hour-toggle,
.day-toggle {
    opacity: 0.5;
    cursor: pointer;
    white-space: no-wrap;
}

.unit-toggle-buttons {
    padding: 0.5em;
}

.unit-active {
    opacity: 1;
    border-bottom: 0.1rem solid white;
    font-weight: 300;
}

.dawn-dusk {
    grid-area: bar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    height: 1em;
}

.dawn-dusk-bar-container {
    background-color: rgba(4, 27, 36, 0.4);
    border-radius: 30px;
    height: 0.5rem;
    width: 100%;
}

.dawn-dusk-bar {
    background-color: rgba(245, 159, 11, 0.8);
    border-radius: 30px;
    height: inherit;
    width: 50%;
}

.dawn-dusk-icon {
    width: 4rem;
    height: 4rem;
}

.tooltip {
    position: relative;
    cursor: help;
}

.sunrise-tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 140%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    font-size: 0.8em;
    padding: 0.5em 0.5em;
    border-radius: 4px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10;
}

.sunset-tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: -10%  ;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    font-size: 0.8em;
    padding: 0.5em 0.5em;
    border-radius: 4px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10;
}

.now-tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 400%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    font-size: 0.8em;
    padding: 0.5em 0.5em;
    border-radius: 4px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10;
}

.tooltip:hover::before {
    visibility: visible;
    opacity: 1;
}

.extra-cond {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    align-items: center;
    justify-items: center;
    background: rgba(35, 85, 135, 0.125);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
    scrollbar-width: none;
}

.cond-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 10em;
}

.cond {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.1em;
    padding: 0.5em;
    font-size: 1.2rem;
}

.cond > p {
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

.cond-icon {
    height: 3.5rem;
    width: 3.5rem;
}

.cond-tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    font-size: 0.8em;
    top: 38%;
    left: 80%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10;
}

.forecast {
    display: flex;
    flex-direction: column;
    padding: 1em 2em    ;
    background: rgba(35, 85, 135, 0.125);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.forecast-title {
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 2em;
}

.forecast-card-container {
    display: flex;
    gap: 1em        ;
    overflow: scroll;
}

.forecast-card {
    background-color: transparent;
    height: 10.5em;
    width: 7em;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.forecast-card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border: none;
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.card-front {
    transform: rotateY(360deg);
    background: rgba(0, 0, 0, 0.2);
}

.card-back {
    transform: rotateY(180deg);
    background: rgba(0, 0, 0, 0.5);
}

.card-title {
    text-align: center;
}

.card-cond-icon {
    height: 3em;
    width: 3em;
}

.card-stat {
    display: flex;
    align-items: center;
    height: 2.5em;
    width: 6em;
}

.card-val-icon {
    height: 2em;
    width: 2em;
}

.card-value {
    font-weight: 200;
}

.weather-chart-container {
    background: rgba(35, 85, 135, 0.125);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 0.5em;
    aspect-ratio: 16 / 8;
}

@media (width < 545px) {
    .header {
        gap: 0.1em;
    }

    .logo-icon {
        height: 2.5em;
        width: 2.5em;
    }

    .logo-text {
        font-size: 2em;
    }

    .search-bar {
        font-size: 0.9em;
        height: 2em;
    }

    .content {
        padding: 1em;
    }

    .loc-date {
        font-size: 1em;
    }

    .location-text {
        font-size: 1.5em;
    }

    .general-cond {
        height: 12em;
    }

    .current-cond-icon {
        height: 10em;
        width: 10em;
    }

    .current-info {
        font-size: 14px;
    }

    .current-temp-value {
        font-size: 26px;
    }

    .current-cond-desc {
        font-size: 24px;
    }

    .current-feelslike {
        font-size: 13px;
    }

    .dawn-dusk-icon {
        width: 2.5em;
        height: 2.5em;
    }

    .dawn-dusk-bar-container {
        height: 0.3em;
    }

    .cond-icon {
        width: 3em;
        height: 3em;
    }

    .cond {
        font-size: 0.8em;
    }

    .forecast-title {
        font-size: 1em;
    }

    .weather-chart-container {
        aspect-ratio: none;
        height: 16em;
        width: 100%;
    }
}